body {
  background-color: #ebf4ff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  font-family: 'Fraunces', serif;
  height: 50px;
}

.navbar-nav {
  width: 100%;
}

.featureImage {
  height: 500px;
}
