body {
  background-color: #ebf4ff;
  font-family: 'Fraunces', serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
}

form div {
  margin: 1em;
}

li a {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.navbar-nav {
  width: 100%;
}

.featureImage {
  height: 400px;
  box-shadow: 10px 10px 8px;
}

.container-login {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.container-signup {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.col {
  margin-left: 0;
  margin-right: 0;
}

/* REFER TO Candles list View */
.list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}
.img-list-view {
  width: 250px;
  border-radius: 1%;
  padding: 15px;
}
.page-title {
  color: rgb(70, 79, 85);
}
/* single page view */
.single-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 5px;
  max-width: 75%;
  margin: auto;
  flex-basis: auto;
  align-content: space-evenly;
  color: rgb(70, 79, 85);
}
.img-single-view {
  max-width: 50%;
  border-radius: 1%;
}
.warning {
  color: red;
}
/* bootstrap for grid layout */
/* .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  align-content: flex-start;
} */

.col-sm-3 {
  padding: 20px;
}

.cartLink {
  background-color: #c0d7bb;
  border-radius: 10px;
}

.cartList {
  background-color: #c0d7bb;
  border-radius: 10px;
  padding: 20px;
}

.img-thumbnail-view {
  width: 100px;
  border-radius: 1%;
  padding: 15px;
}
